<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263283619466-3786hocpbc46ujj86rha2a673kd9t4rr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263283619466-3786hocpbc46ujj86rha2a673kd9t4rr</string>
	<key>API_KEY</key>
	<string>AIzaSyC4c8_zsN70CZ3xpaZxAuCgWT5yWlILzU4</string>
	<key>GCM_SENDER_ID</key>
	<string>263283619466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shmorado.FlashChat-iOS-App</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-4145c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-4145c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263283619466:ios:d1ec21eb32c451b7541f73</string>
</dict>
</plist>